<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="ZT Foosball Logo" src="../assets/table-football.png" />
  <span>ZT Foosball Tournament</span>
  <div class="spacer"></div>
</div>

<div class="container" role="main">
  <!-- Starting div that should be showed before generation has started -->
  <div *ngIf="!generateStarted">
    <div class="row margin-top-xl">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 col-xs-12">
        <div class="title-image"><img alt="ZT Trophy" class="img-responsive" src="../assets/zt-tour-title.jpg" /></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <file-upload (playersEvent)="setPlayers($event)"></file-upload>
      </div>
    </div>
  </div>

  <!-- Move this to separate component -->
  <div class="row margin-top-lg" *ngIf="showGenerateTeams">
    <div class="col-xs-12 text-center">
      <button class="btn btn-primary" (click)="generateTeams();generateStarted = true"
        [disabled]="!this.players.length">Generate teams!
      </button>
    </div>
  </div>
  <!-- List of groups -->
  <div class="row margin-top-lg" *ngIf="generateStarted">
    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let group of groups; let i = index">
      <div class="card-group">
        <div class="card-title" [ngClass]="transformGroupNameToClass(groupNames[i])">{{groupNames[i]}}</div>
        <div class="card-body">
          <div class="card" *ngFor="let team of group">{{team.teamName}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <file-download *ngIf="isDone" [isDone]="isDone" [teams]="teams"></file-download>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
