<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/table-football.png" />
  <span>Zilker Foosball Tournament</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="temp-data">
    <button (click)='generateMockNames()'>Generate fake names</button>
    <button (click)='generateMockTeams()'>Generate fake teams</button>
    {{ Players }}
    <hr>
    {{ Teams }}
  </div>

  <p>Select a CSV file from your system:</p>
  <file-upload (playersEvent)="getPlayerList($event)"></file-upload>

  <div class="card-container"></div>
</div>

<router-outlet></router-outlet>
